<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.st.stplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.StPlayer">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.facebook.flipper.android.diagnostics.FlipperDiagnosticActivity"
            android:exported="true" />

        <activity
            android:name=".SimpleActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PreloadActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".FloatWindowActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".VideoApiActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".FullScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".LiveActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".MiniVideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".FeedListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".VideoDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PipActivity"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:resizeableActivity="true"
            android:supportsPictureInPicture="true"
            tools:targetApi="n" />
        <activity
            android:name=".FilterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".DashActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
        <activity
            android:name=".PreviewActivity"
            android:configChanges="keyboardHidden|orientation|screenSize" />
    </application>

</manifest>